p {
    background-color: rgb(189, 165, 211) ;
    color: rgb(39, 5, 68);
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    padding-right: 0%;
}